@model SGR.Web.Models.MenuCategoryModel

@{
    ViewData["Title"] = "Details";
}

<h1>Menu category information</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.idMenuCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.idMenuCategory)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.restaurantId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.restaurantId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idMenuCategory }) |
    <a asp-action="Index">Back to List</a>
</div>
