@model IEnumerable<SGR.Web.Models.RestaurantModel>

@{
    ViewData["Title"] = "Home";
}

<h1>Existent Restaurants</h1>

<p>
    <a asp-action="Create">Create new restaurant</a>
</p>

@if (!Model.Any())
{
    <p><strong>No restaurant found.</strong></p>
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ownerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idRestaurant)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.ownerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idRestaurant)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdAt)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.idRestaurant }) |
                @Html.ActionLink("Details", "Details", new { id = item.idRestaurant }) |
            </td>
        </tr>
}
    </tbody>
</table>


